.playlist-container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background: url('background.jpg') fixed center;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
}

.playlist-content {
  position: relative;
  z-index: 2;
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: auto;
  align-self: center;
  justify-self: center;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5rem;
  color: #1b3b5f;
  margin-bottom: 1.5rem;
}

.search-bar {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #ccc, inset -3px -3px 6px #fff;
  font-size: 16px;
}

.playlist-item {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 3px 3px 6px #ccc, -3px -3px 6px #fff;
  margin-bottom: 1rem;
}

p {
  font-family: Arial, sans-serif;
  color: #1b3b5f;
}

.ng-template p {
  font-family: Arial, sans-serif;
  color: #ff4f4f;
}

.back-button {
  background: none;
  border: none;
  color: #1b3b5f;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #7abecf;
}

.arrow-icon {
  font-size: 24px;
  margin-right: 5px;
}
